{% extends "layout.twig" %}


{% block icon_img %}
	<link rel="icon" type="image/png" href="../public/favicon.ico"/>
{% endblock %}

{% block title %}

	<title>Ajouter un article - Administration - Blog professionnel

	</title>
{% endblock %}
{% block css_page %}
	<link rel="stylesheet" href="../public/assets/css/admin_add_article.css">
{% endblock %}

{% block content %}
	{% include "menu_admin.twig" %}

	<div class="container-fluid" id="article">

		<div class="container-fluid" id="banner">
			<img src="../public/assets/images/banner_add_update_article.jpg" alt="">
		</div>

		<div class="container-fluid" id="form">
			<div class="requirements-box">
				<h1 id="h1">Ajouter un article
				</h1>
				<p class="requirements">Tous les champs * sont requis</p>
			</div>


			<form id="form" class="pt-3" action="?action=add_article" method="post" enctype="multipart/form-data">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-box">


						<div class="mb-3">
							<label for="title" class="form-label">Titre *</label>
							<input class="form-control" type="text" name="title" id="title" aria-describedby="" placeholder="Les péons de l'univers">
							<p class="text-danger error" id="error-title">{{title_exception is defined ? title_exception : ''}}</p>
						</div>

						<div class="mb-3">
							<label for="image_file" class="form-label">Image *</label>
							<input class="form-control" type="file" name="image_file" id="image-file" onchange="displayImagePreview(this)">
							<p class="text-danger error" id="error-image-article">{{file_exception is defined ? file_exception : ''}}</p>
						</div>

						<div class="mb-3">
							<label for="short-phrase" class="form-label">Chapô *</label>
							<input class="form-control" type="text" name="short-phrase" id="short-phrase" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum necessitatibus dolorem">
							<p class="text-danger error" id="error-short-phrase-article">{{short_phrase_exception is defined ? short_phrase_exception : ''}}</p>
						</div>

						<div class="mb-3">
							<label for="content" class="form-label">Contenu *</label>
							<textarea class="form-control" type="text" name="content" id="content" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum necessitatibus dolorem"></textarea>
							<p class="text-danger error" id="error-content-article">{{content_article_exception is defined ? content_article_exception : ''}}</p>
						</div>

						<div class="mb-3">
							<label for="tags" class="form-label">Tags</label>
							<input class="form-control" type="text" name="tags" id="tags" placeholder="#Php #BonnesPratiques #Test">
							<p class="text-danger error" id="error-tags-article">{{tags_exception is defined ? tags_exception : ''}}</p>
						</div>


						<input class="btn btn-dark" type="submit" name="submit" value="Envoyer">
					</div>
				</div>
			</form>
		</div>

		<div class="container-fluid" id="preview">
			<h2 id="preview-title">Aperçu</h2>
			<div class="row">

				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 preview-box">
					<img id="img-preview">
					<h2 id="title-preview"></h2>
					<p id="short-phrase-preview"></p>
					<p id="content-preview"></p>
				</div>

			</div>
		</div>
	</div>
	<script src="../public/assets/js/article_live_preview.js"></script>
	{% if session is defined and session.type_user == "admin" %}
		{% include "admin_footer.twig" %}
	{% else %}

		{% include "footer.twig" %}

	{% endif %}
{% endblock %}

