{% extends "layout.twig" %}


{% block icon_img %}
	<link rel="icon" type="image/png" href="../public/favicon.ico"/>
{% endblock %}
{% block title %}
	<title>Blog - Blog professionnel</title>
{% endblock %}
{% block css_page %}
	<link rel="stylesheet" href="../public/assets/css/blog.css">
{% endblock %}

{% block content %}


	{# HEADER #}
	<header>
		<nav class="menu">
			<a href="?selection=homepage"><img class="logo" src="../public/assets/images/logo.png" height="60" alt=""></a>
			<ul>


				{% if session is defined and session.type_user is defined %}
					<li>
						<a href="?selection=profile">
							<i class="fa-solid fa-user"></i>
						</a>
					</li>
					<li>
						<a href="?selection=notifications">
							<i class="fa-solid fa-bell"></i>
						</a>
					</li>
					<li>
						<a href="?action=logout">
							<i class="fa-solid fa-right-from-bracket"></i>
						</a>
					</li>

				{% else %}
					<li>
						<a href="?selection=sign_in">
							<i class="fa-solid fa-key"></i>
						</a>
					</li>
					<li>
						<a href="?selection=sign_up">
							<i class="fa-solid fa-user-plus"></i>
						</a>
					</li>
				{% endif %}


			</ul>
		</nav>
	</header>

	{# BLOG #}
	<div
		class="container-fluid" id="blog">

		{# BANNER #}
		<div class="container-fluid" id="banner">
			<img class"banner-img" src="../public/assets/images/blog_banner.jpg" alt="blog banner">
		</div>

		{# ARTICLES #}
		<div class="container-fluid pb-5" id="list-article">
			<h1 class="text-center" id="h1">Derniers articles publiés</h1>
			<div
				class="row mt-5">

				{# ARTICLE 1 #}
				{% for article in articles %}
					<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<a href="?selection=article&amp;id={{article.id}}" class="article">
							<article class="article-box">
								<div class="col-md-12 col-lg-12 author-box">
									<img class="article-img" src="{{article.image}}" alt="">
									<h2 class="author-article" id="h2">{{article.author}}</h2>
								</div>
								<h3 class="article-title">{{article.title}}</h3>
								<p class="article-short-phrase">{{article.short_phrase}}</p>
								<p class=" article-content">{{article.content}}</p>
								<div class="dates-tags">
									<p class="date-article">{{article.date_of_publication}}</p>
									<ul class="tags" id="tags">
										<li class="tag-article">{{article.tags }}</li>
									</ul>
								</div>
							</article>
						</a>
					</div>
				{% endfor %}


			</div>
		</div>

	</div>
	<script src="../public/assets/js/logoutConfirmation.js"></script>
	{% if session is defined and session.type_user == "admin" %}
		{% include "admin_footer.twig" %}
	{% else %}

		{% include "footer.twig" %}

	{% endif %}
{% endblock %}

