{% extends "layout.twig" %}
{% block icon_img %}
	<link rel="icon" type="image/png" href="../public/favicon.ico"/>
{% endblock %}
{% block title %}
	<title>Inscription - Blog professionnel</title>
{% endblock %}
{% block css_page %}
	<link rel="stylesheet" href="../public/assets/css/sign_up.css">
{% endblock %}


{% block content %}

	{# HEADER #}
	<header>
		<nav class="menu">
			<a href="?selection=homepage"><img class="logo" src="../public/assets/images/logo.png" height="60" alt=""></a>
			<ul>
				<li><a href="?selection=sign_in"><i class="fa-solid fa-key"></i></a></li>
			</ul>
		</nav>
	</header>

	{# FORM CONTAINER #}
	<div class="container-fluid mb-5" id="form_container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" id="main-title-box">
				<h1 class=" text-center mb-5 " id="h1">Inscription</h1>
				<p id="requirement-field">Tous les champs * sont requis</p>
			</div>

			{# FORM #}
			<form id="form" class="pt-3" action="?action=sign_up" method="post" enctype="multipart/form-data">
				<div
					class="row">

					{# USER #}
					<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="mb-3 user-box">
							<label for="username" class="form-label">Utilisateur *</label>
							<input class="form-control" type="text" name="username" id="username" aria-describedby="user-helper user-helper-2 user-helper-3 user-helper-4" placeholder="Lu7841">

							<p class="text-danger">
								{{message.username_unavailable is defined ? message.username_unavailable : ''}}
								{{username_exception is defined ? username_exception : ''}}

							</p>
							<p id="user-helper" class="form-text text-dark pt-3">Le nom d'utilisateur doit suivre le format suivant :</p>
							<div class="user-requirements">
								<p id="user-helper-2" class="form-text text-dark">- Le premier caractère doit être une lettre majuscule</p>
								<p id="user-helper-3" class="form-text text-dark">- Ne doit pas contenir de symboles</p>
								<p id="user-helper-4" class="form-text text-dark">- Ne doit pas excéder plus de 10 caractères</p>
								<p id="user-helper-4" class="form-text text-dark">- Les chiffres ne sont autorisés qu'à partir du 3ème caractère précédé de la lettre majuscule et une lettre minuscule</p>
							</div>
						</div>


						{# FILE #}

						<div class="mb-3 profile-image-box">
							<label for="profile-image" class="form-label">Image de profil *
							</label>
							<input type="file" class="form-control" name="profile_image" id="profile-image" aria-describedby="file-helper">
							<p id="file-helper" class="text-danger pt-3"></p>
							<p class="text-danger" id="error-file">
								{{file_exception is defined ? file_exception : ''}}

							</p>

						</div>


						{# MAIL #}

						<div class="mb-3 mail-box">
							<label for="mail" class="form-label">Adresse email *</label>
							<input type="email" class="form-control" name="mail" id="mail" placeholder="johndoe@example.fr">
							<p class="text-danger" id="error-mail">
								{{message.email_unavailable is defined ? message.email_unavailable : ''}}
								{{email_exception is defined ? email_exception : ''}}

							</p>
						</div>


						{# PASSWORD #}

						<div class="mb-3 password-box">
							<label for="password" class="form-label">Mot de passe *</label>
							<input type="password" class="form-control" name="password" id="password" aria-describedby="password-helper password-helper-2 password-helper-3 password-helper-4">
							<p class="text-danger" id="error-password">
								{{password_exception is defined ? password_exception : ''}}
							</p>
							<div class="check-password-box pt-3">

								<label class="form-check-label" for="password-check">
									Afficher le mot de passe
								</label>
								<input class="form-check-input" type="checkbox" id="password-check">
							</div>
							<p id="password-helper" class="form-text text-dark pt-3">Le mot de passe doit être composé des éléments suivants :</p>
							<div class="password-requirements ">
								<p id="password-helper-2" class="form-text text-dark">- Une lettre majuscule</p>
								<p id="password-helper-3" class="form-text text-dark">- Un chiffre</p>
								<p id="password-helper-3" class="form-text text-dark">- 8 caractères minimum</p>
							</div>

						</div>
						<input type="submit" class="btn text-white " name="submit" id="submit" value="Envoyer">
					</div>
				</div>
			</form>
		</div>
	</div>
	{% include "footer.twig" %}
	<script src="../public/assets/js/seePassword.js"></script>
{% endblock %}

